* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/typography';
@import 'sass/menu';
@import 'sass/home';

body {
    min-height: 100vh;
    background-color: $black-dark;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 2px solid $blue-normal;
  background-color: $white-normal;
}

::-webkit-scrollbar-track {
  background-color: $blue-dark;
}