* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, button {
  font-family: "Roboto", sans-serif;
  color: #F5F7F7;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.75rem;
  }
  p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.75rem;
  }
  h6 {
    font-size: 0.5rem;
  }
  p {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.75rem;
  }
  h5 {
    font-size: 0.5rem;
  }
  h6 {
    font-size: 0.25rem;
  }
  p {
    font-size: 0.25rem;
  }
}
ul li a:hover {
  opacity: 0.8;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 50px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), #0066a5);
}

.logo-menu {
  width: 150px;
  height: 150px;
}

#menu {
  display: flex;
  list-style: none;
  gap: 12px;
}

#menu a {
  display: block;
  padding: 12px;
}

#btn-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  #header {
    background: linear-gradient(to bottom, rgba(0, 102, 165, 0.99), #0066a5);
    align-items: center;
    justify-content: flex-end;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), #0066a5);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 12px 0;
    margin: 0 12px;
    border-bottom: 2px solid #0066a5;
  }
  #btn-mobile {
    outline: none;
    display: flex;
    padding: 6px 12px;
    font-size: 12px;
    border: none;
    background: none;
    cursor: pointer;
    gap: 6px;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: whitesmoke;
    margin-left: 15vw;
  }
  #hamburger::after, #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
@media screen and (min-width: 600px) {
  #menu a {
    padding: 12px 24px;
    font-size: 16px;
    display: inline-block;
    transition: 0.5s ease;
    position: relative;
  }
  #menu a::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    transition: 0.5s ease;
    transform: translate(20%, -50%);
    background-color: #8acdf7;
  }
  #menu a:hover {
    opacity: 0.8;
  }
  #menu a:hover::after {
    width: 70%;
  }
}
body {
  min-height: 100vh;
  background-color: #050607;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 2px solid #51ADE5;
  background-color: #F5F7F7;
}

::-webkit-scrollbar-track {
  background-color: #0066a5;
}/*# sourceMappingURL=style.css.map */