$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;

$white-normal: #F5F7F7;
$white-dark: #EDEFF0;
$white-light: #FAFCFC;

$blue-normal: #993399;
$blue-dark: #7a007a;
$blue-light: #d490d4;