$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;

$white-normal: #F5F7F7;
$white-dark: #EDEFF0;
$white-light: #FAFCFC;

$blue-normal: #51ADE5;
$blue-dark: #0066a5;
$blue-light: #8acdf7;

$gray-1: #777;
$gray-2: rgb(184, 182, 182);

.color-gray {
    color: $gray-1;
}