.homeContainer {
    width: 90vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-left: 100px;

    img {
        border-radius: 4px;
    }
}

.homeContainerInfo {
    margin-right: 10vw;
    justify-content: center;
}

@media screen and (max-width: 768px) {
  .homeContainer {
    margin-top: 5rem;
    width: 50vw;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      display: none;
    }
  }

  .homeContainerInfo {
    margin: 0px;
    justify-content: center;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}