.menu {
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    padding: 32px 16px 32px 16px;
    position: fixed;
    background-color: rgba(10,9,9,0.4);
}

@media screen and (max-width: 960px) {
    .menu-left {
        display: none;
    }

    .menu-right {
        display: none;
    }
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .flex-end {
        justify-content: center;
        align-items: center;
        padding-left: 100px;
    }
}

.relative {
    position: relative;
}

.container {
    max-width: 1220px;
    margin: 0 auto;

    padding: 24px 16px;

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hero {
    height: 100vh;
}

.container-item {
    img {
        transition: transform 200ms;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width:  960px) {
    .hero {
        height: auto;
    }

    .container {
        flex-direction: column;
    }
}

.container-item:nth-child(1) {
    max-width: 700px;
    margin: 40px 0px;
    flex-grow: 3;
}

.container-item:nth-child(2) {
    flex-grow: 1;
    margin: 40px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 400px;
        border-radius: 4px;
    }
}

.bg-hero {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .svg-hero {
        transform: scale(2) rotate(25deg);
    }
}


@media screen and (max-width: 1200px) {
    .svg-hero {
        transform: scale(1.5) rotate(25deg);
    }
}

@media screen and (max-width: 1400px) {
    .svg-hero {
        transform: scale(1.5);
    }
}

.border-gray {
    width: 100%;
    border-bottom: 1px solid $black-light;
}

.list {
    details {
        summary {
            h4, h5 {
                cursor: pointer;
            }
        }

        .detalhes {
            width: 100%;
            text-align: justify;
            padding: 0% 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            h5 {
                line-height: 28px;
                color: $white-normal;
                font-size: 18px;
                margin-bottom: 58px;
            }
        }
    }
}

.list-item {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    h2 {
        font-size: 40px;
    }

    .flex-between {
        a {
            &:nth-child(2) {
                display: inline-block;
                color: $white-normal;
                padding: 18px 56px 18px 40px;
                text-align: center;
                border: 0;
                background: linear-gradient(217.85deg, $black-light -1.54%, $blue-dark 101.14%);
                border-radius: 8px;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 400;
                transition: .6s ease;

                &:hover {
                    box-shadow: 0 0 0 0 $blue-normal inset, 10px 12px 20px 0 $blue-normal;
                    opacity: 0.8;
                }
            }
        }
    }
}






.my-profile {
    margin: 50px auto 50px;
    padding: 24px 16px;
    height: 90vh;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px 48px;
    background-color: rgba($color: $black-light, $alpha: 0.35);
}

.about {
    display: flex;
    padding: 48px 0px;
    
    img {
        width: 300px;
        height: 300px;
        border-radius: 8px;
    }

    .img-div::after {
        content: "";
        position: absolute;
        top: -10%;
        left: 3%;
        border-top: 9px solid $blue-normal;
        border-left: 9px solid $blue-normal;
        height: 80%;
        width: 50%;
        border-radius: 8px;
        filter: blur(2px);
    }

    .img-div::after, ::before {
        box-sizing: border-box;
    }

    .aboutme {
        max-width: 500px;
        line-height: 30px;
        border-top: 1px solid $blue-normal;
        border-bottom: 1px solid $blue-normal;
        padding: 48px 16px;

        transition: .5s ease-in;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;

        &:hover {
            border: 1px solid $black-dark;
            border-radius: 4px;
            box-shadow: 0 0 0 0 $blue-normal inset, 10px 45px 20px 0 $blue-normal;
        }
        
        span {
            color: $blue-normal;
        }

        p {
            color: $gray-2;
        }
    }
}

.get {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;

}

#square3 {
    animation: rotate1 4s ease infinite alternate;
}

#square3_2 {
    animation: rotate2 2s ease infinite alternate;
}

#square3_3 {
    transform-origin: center center;
    transform-box: fill-box ;
    animation: rotate3 4s ease infinite alternate;
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(30deg);
        width: 300px;
        height: 300px;
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(60deg);
        width: 100px;
        height: 100px;
    }
}

@keyframes rotate3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
        width: 150px;
        height: 150px;
    }
}

#bg-heroline3 {
    animation: pulse1 3s ease infinite alternate;
    transform-origin: center center;
    transform-box: fill-box ;
}

#bg-heroline2 {
    animation: pulse2 2s ease infinite alternate;
    transform-box: fill-box ;
    transform-origin: center center;
}

#bg-heroline1 {
    animation: pulse3 1s ease infinite alternate;
    transform-box: fill-box ;
    transform-origin: center center;
}

@keyframes pulse1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotate(30deg);
    }
}

@keyframes pulse2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotate(15deg);
    }
}

@keyframes pulse3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotate(10deg);
    }
}

.container-svg {
    margin-top: -150px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 70%;
}

$base: 1rem;

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: $blue-dark;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}

.container-certificados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
        margin-bottom: 30px;
        
        span {
            color: $blue-dark
        }
    }

    .certificados {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .certificados-coluna {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;

            span {
                padding: 16px 32px;
                font-family: 'Roboto';
                text-align: center;
                margin-top: 20px;
                width: max-content;
                height: max-content;
                font-size: 50px;
                background: $blue-dark;
                color: $white-normal;
                border-radius: 8px;
            }
        }
    }
}

.container-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    margin: 150px 0px;

    .languages {
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            color: $blue-normal
        }
    }

    table {
        width: 100%;
        font-family: 'Roboto';
        tr {
            display: flex;
            flex-direction: row;
            width: 100%;

            td {
                font-size: 24px;
                margin: 18px;
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                justify-content: center;
                align-items: center;
                width: 100%;
                font-weight: 400;

                &:hover {
                    border-radius: 4px;
                    box-shadow: 0 0 0 0 $blue-normal inset, 10px 12px 20px 0 $blue-normal;
                }
                
                svg {
                    fill: $blue-normal;
                    color: $blue-normal;
                    width: 30%;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .menu {
        display: none;
    }

    .container {
        max-width: 200px;
        margin: 0 auto 120px auto;
    
        padding: 0px 0px;
    
        display: flex;
    
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .container-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 22px;
            }

            h3 {
                font-size: 18px;
            }

            img {
                width: 150px;
                height: 150px;
                margin-bottom: 30px;
            }
        }
    }

    .container-svg {
        display: flex;
        visibility: visible;
    }

    .list {
        .list-item {
            padding: 0;
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 20px;
            }

            h4 {
                font-size: 18px;
                margin-bottom: 20px;
            }
            
            h5 {
                font-size: 12px;
                margin-bottom: 20px;
            }

            .flex-between {
                justify-content: center;
                align-items: center;
                flex-direction: column;
            
                a {
                    text-align: center;
                    width: 50%;
                    height: 50px;
                    font-size: 12px;
                }
            }
        }
    }

    .my-profile {
        padding: 0;
        width: 100%;
        .about {
            width: 100%;
            padding: 0;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                margin: 20px 0 30px 0 !important;
                height: 150px;
                width: 150px;
            }

            .img-div::after {
                content: "";
                position: absolute;
                top: -2%;
                left: -10%;
                border-top: 9px solid $blue-normal;
                border-left: 9px solid $blue-normal;
                height: 70%;
                width: 80%;
                border-radius: 8px;
                filter: blur(2px);
            }
        
            .img-div::after, ::before {
                box-sizing: border-box;
            }

            .aboutme {
                text-align: center;
                padding: 10px 10px 10px 10px;
            }
        }
    }

    .get {
        h2 {
            font-size: 16px;
        }

        h3 {
            font-size: 12px;
        }
    }

    .container-certificados {
        h3 {
            font-size: 32px;
        }

        .certificados {
            display: flex;
            flex-direction: row;
            width: 100%;
    
            .certificados-coluna {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
    
                span {
                    padding: 16px 32px;
                    font-family: 'Roboto';
                    text-align: center;
                    margin-top: 30px;
                    width: max-content;
                    height: max-content;
                    font-size: 30px;
                    background: $blue-dark;
                    color: $white-normal;
                    border-radius: 8px;
                }
            }
        }
    }
}


@media screen and (max-width: 525px) {
    .container-certificados {
        h3 {
            font-size: 24px;
        }

        .certificados {
            display: flex;
            flex-direction: column;
            width: 100%;
    
            .certificados-coluna {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                margin-bottom: 64px;

                h3 {
                    font-size: 24px;
                }
    
                span {
                    padding: 16px 32px;
                    font-family: 'Roboto';
                    text-align: center;
                    margin-top: 16px;
                    width: max-content;
                    height: max-content;
                    font-size: 30px;
                    background: $blue-dark;
                    color: $white-normal;
                    border-radius: 8px;
                }
            }
        }
    }

    .container-languages {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 16px 24px;
        margin: 50px 0px;

        h3 {
            font-size: 24px;
        }

        table {
            width: 100%;
            font-family: 'Roboto';
            tr {
                display: flex;
                flex-direction: row;
                width: 100%;

                td {
                    font-size: 12px;
                }
            }
        }
    }
}