.displayColumn {
    display: flex;
    flex-direction: column;
}


.displayRow {
    display: flex;
}

.displayColumnGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.relative {
    position: relative;
}