.displayColumn {
    display: flex;
    flex-direction: column;
}


.displayRow {
    display: flex;
}

.displayColumnGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.relative {
    position: relative;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: $blue-dark;
    color: $white-light;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    z-index: 9999;
}